* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    background-color: white;

}

.logo {
    width: 56px;
    height: 56px;
}

.logoname {
    color: #0A6D03;
}

.logosec {
    display: flex;
    align-items: center;
    gap: 12px;
}


.menu {
    display: flex;
    align-items: center;
    gap: 56px;
}

.menu a {
    font-size: 16px;
    font-weight: 600;
}

.icons {
    display: flex;
    gap: 12px;
    align-items: center;

}

.icons img {
    height: 24px;
    width: 24px;
}


.hero {
    background-color: #0A6D03;
    padding: 72px 64px;
}


.content{
    background-color: white;
    display: flex;
    position: relative;
    border-radius: 10px;
}

.content h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #898989;
    
    
}

.content span {
    color: #FCFE01;

}

.content input {
    background-color: #0A6D03;
    width: 100%;
    padding: 22px 28px;
    box-sizing: border-box;
    border-radius: 20px; 
}

.content ::placeholder {
    color: white;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}



.search-container .search-icon {
    border-radius: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    pointer-events:fill;
    padding: 12px;
    cursor: pointer;

}



.content button {
    display: block;
    padding: 12px;
    border-radius: 20px;
    border: 1.5px solid black;
    width: 160px;
    height: 43px;
    font-weight: 700;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 79px 0px 79px 110px;
}

.contentBlock img{
    height: 15px;
    width: 15px;
    background-color: white;
    position: relative;
}

.illu {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: auto;
}


.product {
    background-color: #0A6D03;
    padding: 0px 72px 64px;
}

#proname {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}   

.product span{
    color: #FCFE01;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #FCFE01;
}
.productSec {
    background-color: white;
    display: flex;
    border-radius: 10px;
    padding: 24px 64px;
    align-items: center;
    justify-content: space-between;
}

.productSec h3 {
    color: #0A6D03;
    text-align: center;

}


.productbox {
    background: linear-gradient(#FCFE01 ,#0A6D03); 
    padding: 20px;
    margin: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
}

.productbox1 {
    background: linear-gradient(#FCFE01,#0A6D03); 
    padding: 48px 20px;
    margin: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
}

.productbox1 {
    background: linear-gradient(#FCFE01,#0A6D03); 
    padding: 48px 20px;
    margin: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
}

.productbox2 {
    background: linear-gradient(#FCFE01,#0A6D03); 
    padding: 122px 20px;
    margin: 20px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
}


.product button {
    color: #0A6D03;
    display: block;
    padding: 12px;
    border-radius: 16px;
    border: 1px solid black;
    width: 120px;
    font-weight: 700;
    margin-left: 25%;
}



.about-sec {
    padding: 36px 0px;
    background: linear-gradient( to right, #FCFE01 30%, white 30%, white);
    display: flex;
    align-items: center;
}

.about-sec span {
    color: #FCFE01;
    padding: 0 5px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: #FCFE01;
}

.about-sec h2 {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #0A6D03;
    text-align: center;
    line-height: 200px;
    color: white;
    margin-left: 336px;
}

.about-sec pre {
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
}

.about-content {
    background-color: #0A6D03;

}


.logo-box {
    background: linear-gradient(#0A6D03 ,#FCFE01);
    padding: 64px 12px;
    border-radius: 30px;    
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2); 
}

.logo-box1 {
    position: relative;
    top: -64px;
    background: linear-gradient(#0A6D03 ,#FCFE01);
    padding: 64px 12px;
    border-radius: 30px;    
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2); 
}

.logo-box1 img {
    width: 248px;
    height: 200px;
}

.logo-box img {
    width: 248px;
    height: 200px;
}

.content-logo {
    padding: 20px;
    display: flex;
    gap: 40px;
    justify-content: center; 
}

.content-story {
    margin: 12px 12px 100px 28%;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
    padding: 12px 60px;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2); 
   
}

.content-story h3 {
    padding: 10px 0;
    font-size: 40px;
}

.content-story pre {
    margin-left: -82px;
    text-align:left;
    line-height: 36px;
}

.content-story button{
    background-color: #0A6D03;
    color: #FCFE01;
    padding: 18px;
    border-radius: 20px;
}

.mission-content {
    background-color: white;

}

.mission-box {
    position: relative;
    background: linear-gradient(to right, #0A6D03, #FCFE01);
    border-radius: 30px;
    display: flex;
    padding: 48px;
    margin: 0px 75px;
    top: -64px;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2); 
}

.mission-box h3 {
    font-size: 32px;
    padding: 12px 0px;
}

.mission-box1 {
    text-align: center;
    padding: 12px;
    text-align: left;
    margin: 0px 400px;
    position: relative;
    top: -38px;
}

.mission-box1 h4 {
    text-align: center;
    padding: 12px 0px;
    font-size: 20px;
}

.mission-box1 p {
    line-height: 37px;
}


.team-content {
    text-align: center;
    padding: 52px 20px;
    background-color: #0A6D03;
}

.team-content h1 {
    color: white;
    font-size: 55px;
}

.team-content span {
    color: #FCFE01;
}

.team-section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 78px;
    padding: 48px 120px;

}

.team-card {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2); 
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.team-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.team-card img {
    width: 255px;
    height: 255px;
    border-radius: 20px;
}

.team-info {
    padding: 20px;
    text-align: left;
}

.team-info h3{
    font-size: 16px;
    padding: 0px 0px 12px;
}






.contact {
    background-color: #0A6D03;
    padding: 72px 64px;

}

.contactsec {
    background-color: white;
    border-radius: 10px;
    padding: 24px 64px;
    display: flex;
}

.contact-details {
    margin-left: 100px;
    padding-left: 50px;
}

.contactsec img {
    height: 50px;
    width: 50px;
}

.contact h3 {
    margin: 10px;
    margin-bottom: px;
    font-size: 36px;
}

.contact span {
    font-size: 16px;
    font-family: "Poppins";
    font-weight: lighter;
    margin-left: 20px;

}

.input-box {
    margin-top: 20px;   
    display: block; 
    }

.input-box input {
    display: block;
    padding: 14px;
    border-radius: 16px;
    width: 272px;
}

.input-box textarea {
    border-radius: 16px;
    margin-top: 10px;
}


.form button {
    margin: 20px;
    padding: 14px;
    width: 272px;
    border-radius: 16px;
    margin-left: auto;
    color: #FCFE01;
    background-color: #0A6D03;
    font-weight: bolder;
    border: none;
}



.contact-illu {
    margin-left: auto;

}


.illu-img img {
    height: 400px;
    width: 580px;
}

.flex-vector {
  display: flex;
  padding: 4px 0px;
  gap: 12px
}

.contact-illu .vector {
    width: 20px;
    height: 20px;
}

.contact h1 {
    font-size: 50px;
}

.contact #title {
    margin-left: 4px;
    font-size: 50px;
    font-weight: bold;
    color: #FCFE01;
}

#titlecol {
    color: #0A6D03;
}

.footer-section {
    padding: 64px 80px;
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
    color: #0A6D03;
}

.footer-logo h4 {
    font-size: 16px;
}

.footer-logo span {
    color: #FCFE01;
}

#para {
    font-family: "Poppins";
    font-size: 14px;
    font-weight:300;
}


.footer-icons {
    margin-top: 84px;
    width: 30px;
    height: 30px;
    display: flex;
}

.footer-links {
    display: flex;
    margin-left: 100px;
    gap: 100px;
}

.footer-links span {
    font-weight: bold;
}

.footer-credit p {
    margin-left: 75px;
    padding: 5px 0px;
}

.footer-credit hr {
    width: 90%;
    margin-left: 75px;
    height: 2px;
    background-color: black;
}


