@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* Container Styling */
.container {
    width: 1000px;
    max-width: 100%;
    min-height: 615px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
}

/* Form Container Styling */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    text-align: center;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 50%;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

/* Active Form Styling */
.container.right-panel-active .sign-in-container {
    transform: translateX(0);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(0);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

/* Keyframe for Show Animation */
@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

/* Overlay Styling */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(to right, #eee, #eee );
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
/* Left circle (big one) */
.overlay-left::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 28%;
    transform: translateX(-50%);
    width: 700px; /* Big circle */
    height: 700px; /* Big circle */
    opacity: 80%;
    background: #48ca3e;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Left smaller circle */
.overlay-left::after {
    content: '';
    position: absolute;
    top: -5px; 
    left: 15%;
    transform: translateX(-50%);
    width: 650px; 
    height: 650px; 
    background: #0A6D03;
    opacity: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}
.overlay-left .third-circle{
    content: '';
    position: absolute;
    top: -5px; 
    left: -5%;
    transform: translateX(-50%);
    width: 650px; 
    height: 650px; 
    background: #1e6b19;
    opacity: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}

/* Right circle (big one) */
.overlay-right::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 73%;
    transform: translateX(-50%);
    width: 700px; 
    height: 700px; 
    background: #48ca3e;
    opacity: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Right smaller circle */
.overlay-right::after {
    content: '';
    position: absolute;
    top: -5px; 
    left: 85%;
    transform: translateX(-50%);
    width: 650px; 
    height: 650px; 
    background: #0A6D03;
    opacity: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}
.overlay-right .third-circle {
    content: '';
    position: absolute;
    top: -5px; 
    left: 105%;
    transform: translateX(-50%);
    width: 650px; 
    height: 650px; 
    background: #1e6b19;
    opacity: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 3; 
}
.overlay-left {
    transform: translateX(-20%);
    padding-top: 100px;
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
    
}

.overlay-right {
    right: 0;
    transform: translateX(0);
    padding-top: 100px;
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.overlay-panel .pic {
    width: 410px;
    height: 410px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-right: 5px;
    z-index: 4;
    
}
.overlay-right h3 {
    font-size: 25px; 
    font-weight: bold; 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    line-height: 1.4; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 4; 
    margin-bottom: 20px; 
    padding: 0 10px;
    text-align: left;
    margin-left: 50px;
}
.overlay-left h3 {
    font-size: 25px; 
    font-weight: bold; 
    color: white;
    text-transform: uppercase; 
    letter-spacing: 2px;
    line-height: 1.4; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    z-index: 4; 
    margin-bottom: 20px; 
    padding: 0 10px; 
    text-align: left;
    margin-right: 50px;
}

/* Input Field Styling */
input {
    background-color: #eee;
    border-radius: 15px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
   
    
}

input:hover {
    border: 2px solid #0A6D03;
}

input:focus {
    border: 2px solid #0A6D03;
    outline: none;
}

/* Button Styling */
button,
input[type="submit"] {
   
    margin: 15px 0;
    border-radius: 15px;
    border: 1px solid #0A6D03;
    background-color: #0A6D03;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    
}

button:active,
input[type="submit"]:active {
    transform: scale(0.95);
}

button:focus,
input[type="submit"]:focus {
    outline: none;
}

/* Social Buttons */
.social-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px; 
    flex-direction: column; 
}

/* Social Buttons - Individual Colors */
.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    width: 100%;  
    border-radius: 15px; 
    background-color: #0A6D03; 
    color: white;
    font-size: 10px;  
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    margin: 10px 0; 
}

/* Individual Colors for Buttons */
.social-btn.google {
    color: #000000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 12px 20px; 
}

.google-icon {
    width: 20px; 
    height: 20px;
    margin-right: 15px; 
    margin-top: 3px;
    
}


/* Hover Effects */
.social-btn:hover {
    transform: scale(1.05); 
}

/* Remove underline from links */
.social-container a {
    text-decoration: none;
}

/* Additional tweaks for small screens */
@media screen and (max-width: 768px) {
    .social-btn {
        height: 40px;  
        width: 100%;   
    }

    .social-container {
        gap: 8px;  
    }
}


/* Paragraph and Link Styling */
p {
    font-size: 14px;
    font-weight: 100;
    margin: 15px 0 30px;
    margin-top: 5px;
    margin-left: 10px;
   
}

span {
    font-size: 15px;
    margin: 10px;
    top: 15px;
}

.switch-form {
    color: #0A6D03 ;
    cursor: pointer;
    margin-right: 25px;
}

.switch-form:hover {
    text-decoration: underline;
}

/* Header Styling */
h2 {
    text-align: left;  
    color: #333;
    margin-left: -30px;  
    margin-top: -30px;
    width: 100%;
}


/* Logo Styling */
.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 20px;  
    margin-top: -25px;
}

/* Container for the 'or continue with' text and lines */
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.line {
    border: none;
    height: 1px;
    background-color: #ccc;
    flex: 1; 
    margin: 0 10px;
}

.or-text {
    font-size: 14px;
    font-weight: 100;
    color: #333;
    
}

/* Custom Alert Modal */
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; 
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
}

.alert-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.alert-ok {
    background-color: #0A6D03; 
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-ok:hover {
    background-color: #0A6D03; 
}



