body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    
}
html {
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    background-color: #0A6D03;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo h3 {
    margin: 0;
    color: white; 
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #0A6D03; 
}

/* Top Bar Section Styles */
.top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    color: white;
    padding: 0 40px; 
    
}

.custom-dropdown {
    position: relative;
    width: 160px; 
    margin-right: 150px;
}

.dropdown-button {
    background-color: #0A6D03;
    color: WHITE;
    padding: 10px ;
    width: 150%;
    text-align: center; 
    border: 1px solid #0A6D03;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    white-space: nowrap; 
    
    
}
.dropdown-button:hover{
    background-color: #2C8E2F; 
    border-color: white;
}

/* Caret styling */
.caret {
    font-size: 18px;
    margin-right: 5px; 
    transform: rotate(0deg); 
    transition: transform 0.3s ease; 
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150%;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #0A6D03;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    color: #111;
    text-align: center;
    
}

.dropdown-menu li:hover {
    background-color: #FCFE01;
    color: #0A6D03;
}

/* Show the menu when the button is hovered or clicked */
.custom-dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-button:hover {
    background-color: #2C8E2F;
    border-color: white;
}

/* Navbar Styles */
.navbar-links {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 0; 
    margin: 0; 
}

.navbar-links a {
    text-decoration: none;
    color: WHITE;
    font-size: 18px; 
    transition: color 0.3s ease;
    margin-right: 80px; 
}

.navbar-links a:hover {
    color: #FCFE01; 
}

/* Ensure the navbar stays in one line and does not wrap */
.navbar-links {
    white-space: nowrap; 
}

.navbar-links a:last-child {
    margin-right: 0; 
}

/* Cart and Profile Button Styles */
.button-container {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.cart-button, .profile-button {
    font-size: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    color: WHITE;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 30px;
}

.cart-button:hover, .profile-button:hover {
    
    color: #FCFE01; 
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -110px;
    width: 100%;
}

.search-bar input {
    padding: 10px 15px;
    font-size: 18px;
    width: 70%;
    border: 1px solid #180808;
    border-radius: 10px;
    box-sizing: border-box; 
}

.search-bar button {
    padding: 10px 20px; 
    font-size: 18px; 
    border: none;
    background-color: #0A6D03;
    color: white;
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.search-bar button:hover {
    background-color: #0A6D03; 
}
img {
    width: 100px;
    height: 100px;
    margin-left: 100px;  
    margin-bottom: 15px;
    


}

/* Banner Styles */
.banner {
    background-color: #0A6D03;
    color: white;
    padding: 40px;
    text-align: center;
}

.banner h2 {
    margin: 0;
    font-size: 2.5em;
}

.banner p {
    font-size: 1.2em;
}

.explore-btn {
    padding: 10px 20px;
    background-color: white;
    color: #0A6D03;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.explore-btn:hover {
    background-color: #f1f1f1;
}

/* Product Section Styles */
.product-section {
    padding: 5px;
}

.product-section_ics-section h2 {
    text-align: center;
    margin-right: 50%;
    margin-bottom: 20px;
    color: #0A6D03;
    font-size: 3rem;
    text-shadow: 
        1px 1px 0 #111, 
        -1px -1px 0 #111, 
        1px -1px 0 #111, 
        -1px 1px 0 #111
    
}
.product-section_ics-section span{
    color: #FCFE01;
    font-size: 3rem;
}
.product-section_iob-section h2 {
    text-align: center;
    margin-right: 60%;
    margin-bottom: 20px;
    color: #0A6D03;
    font-size: 3rem;
    text-shadow: 
        1px 1px 0 #111, 
        -1px -1px 0 #111, 
        1px -1px 0 #111, 
        -1px 1px 0 #111
    
}
.product-section_iob-section span{
    color: #FCFE01;
    font-size: 3rem;
}
.product-section_ite-section h2 {
    text-align: center;
    margin-right: 50%;
    margin-bottom: 20px;
    color: #0A6D03;
    font-size: 3rem;
    text-shadow: 
        1px 1px 0 #111, 
        -1px -1px 0 #111, 
        1px -1px 0 #111, 
        -1px 1px 0 #111
    
}
.product-section_ite-section span{
    color: #FCFE01;
    font-size: 3rem;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0;  
    justify-items: center;  
    margin: 20px;
}

/* Specific Background Colors for IOB and ITE sections */
.product-section_iob-section {
    background-color: #fcfcdc;  
    padding: 20px;
}

.product-section_ite-section {
    background-color: #dcebf5;  
    padding: 20px;
}


.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; 
    margin-bottom: 20px; 
    
}

.product-card {
    position: relative;
    border: 1px solid #ccc;
    border-top-left-radius: 20%; 
    padding: 15px;
    background: linear-gradient(to bottom, #fdfda2, #55e04b);
    transition: transform 0.3s;
    width: 250px;  
    min-height: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    
}



.product-card:hover {
    transform: scale(1.05);
}

/* Styling the image inside the product card */
.product-card img {
    width: 100%;           
    height: auto;         
    max-width: 250px;      
    border-radius: 10px;   
    margin-bottom: 5px;   
    display: block;        
    margin-left: auto;     
    margin-right: auto;    
    
}

.product-card img.lace {
    width: 100%;           
    height: 350px;         
    max-width: 250px;      
    border-radius: 10px;   
    margin-bottom: 5px;   
    display: block;        
    margin-left: auto;     
    margin-right: auto;    
    
}

/* Product Title and Price Styles */
.product-item h3 {
    font-size: 18px;
    color: #111;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

/* Responsive Styles for Product Cards */
@media (max-width: 768px) {
    .product-grid {
        flex-direction: column;
        align-items: center;
        gap: 15px; 
    }

    .product-card {
        width: 80%;  
    }

    .product-card img {
        max-width: 90%;  
    }
}


/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

button {
    margin: 15px 0;
    border-radius: 15px;
    border: 1px solid #0A6D03;
    background-color: white;
    color: red;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 10PX;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 10px;
    }

    .product-grid {
        flex-direction: column;
        align-items: center;
    }

    .button-container {
        margin-top: 10px;
    }

    /* Adjust Top Bar for Small Screens */
    .top-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .navbar-links {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .navbar-links a {
        margin-left: 15px;
        font-size: 16px;
    }

    .top-bar-left {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .department-select {
        width: 100%;
        margin-left: 0;
        padding: 8px 10px;
    }
}
 /* Cart message style */
#cart-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    z-index: 1;
}

/* Style for the action dialog box */
#action-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 9996;
    border: 2px solid #0A6D03;
    text-align: center;
    width: 300px;
}

/* Style for the close button (X) at the top-right of the dialog */
#close-dialog-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

#close-dialog-btn:hover {
    color: #f44336;
}

/* Dialog Content */
.dialog-content {
    padding: 5px;
}

.dialog-content button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
}

.dialog-content button:hover {
    background-color: #45a049;
}

#close-dialog-btn:hover {
    color: #0A6D03;
}

/* Details section */
#details-section {
    background-color: white;
    border: 2px solid #0A6D03;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    max-width: 100%;
    text-align: center;
    z-index: 9997; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
}
/* Details section */
#paypal-section {
    background-color: white;
    border: 2px solid #0A6D03;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    max-width: 100%;
    text-align: center;
    z-index: 9998; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    
}

.hidden {
    display: none;
}

/* Optional: Style the message */
#thankyou-message {
    position: fixed;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    width: 20% ;
    height: 5px;
}
#thankyou-message h3{
    margin-top: -8px;
    font-size: 17px;
    margin-left: 35px;
}
#cod-section {
    background-color: white;
    border: 2px solid #0A6D03;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
    max-width: 100%;
    text-align: center;
    z-index: 9998; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    
}

#paypal-section h1{
    color: #0A6D03;
    font-size: 30px;
    margin-top: 40px;
   
}

.paypal {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: absolute;
    margin-left: 6%;
  }
  
  .paypal h1 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .paypal p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  #paypal-button-container {
    margin-top: 30px;
  }


#cod-section h1{
    color: #0A6D03;
    font-size: 30px;
    margin-bottom: 20px;
    
}

#details-section .back-button {
    margin-top: 20px;
    background-color: #f44336;
    color: white;
}

#details-section h2{
    color: #0A6D03;
    margin-right: -5px;
    font-size: 30px;
    margin-top: 10px;
}
#details-form input{
    background-color: #f9f9f9;
    border: 1px solid #0A6D03;
    border-radius: 10px;
    padding: 10px;
    width: 95%; 
    height: 20px;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    margin-bottom: 15px;

}
#details-form input:focus{
    border-color: #0A6D03; 
    outline: none; 
}
#details-form label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold;
    color: #333; 
}
.thankyou-button, .details-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 48%;
}

#details-section .back-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}


#details-section .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-top: 20px; 
}

#paypal-section .button {
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 20px; 
}

#cod-section .button{
    display: flex; 
    justify-content: space-between;
    gap: 10px; 
    margin-top: 20px; 
}

.paypal-button, .cod-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 48%;
}

.paypal-button:hover, .cod-button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

